@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header {
    max-width: 390px;
    background: white;
    margin: 0 auto;
}

body {
    border: 0.5px solid black;
}

header {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 93%, rgba(157,238,255,1) 100%);
}

.navigation {
    display: flex;
    height: 15vh;
}


/* LOGO */
.logo_home img{
    width: 80px;
    height: auto;
    margin: 1.5em;
    border-radius: 20px;
}


.nav_container {
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}

.menu{
    width: 50px;
    height: 50px;
    margin: 12% 20%;
    background-image: linear-gradient(to right, #2980b9, #6dd5fa, #c9f2f5);
    border-radius: 5px;
    cursor: pointer;
}
.menu div{
    width: 50px;
    height: 1px;
    margin: 1px;
    position: relative;
}

.menu span{
    background: #fff;
    width: 30px;
    height: 6px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20px);
    transition: transform 0.5s, width 0.5s;
}

/* bar haut/haut-droite */
.menu .line-1{
    width: 30%;
    transform: translate( -100%, 10px);
    transform-origin: 0 0;
}

/* bar bas/bas-gauche */
.menu .line-3{
    width: 30%;
    left: auto;
    right: 0;
    transform: translate( -60%, 30px);
    transform-origin: 100% 0;
}
.openmenu .line-1{
    transform: translate(-15%, 20px) rotate(-45deg);
}
.openmenu .line-3{
    transform: translate(-185%, 20px) rotate(-45deg);
}
.openmenu .line-2{
    transform: translate(-50%, 20px) rotate(45deg);
}

/* OVERLAY MENU */

.overlay_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 16vh;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}
#overlay_menu.active {
    width: 100%;
}


.link_menu {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

.link_menu a {
    margin: 2rem 0;
    text-decoration: none;
    font-size: 30px;
    color: royalblue;
    display: block;
    transition: 0.3s;
}

/* accueil */ 

.presentation {
    padding: 10px;
}

.presentation img {
    margin: 2rem 1rem;
}

.text {
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    padding: 10%;
}

/* Slider partners */
.slider_partner {
    display: flex;
    background-image: linear-gradient(112.5deg, rgb(140,190,240) 0%, rgb(140,190,240) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(93,194,255) 53%, rgb(93,194,255) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(140,190,240) 0%, rgb(140,190,240) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(93,194,255) 53%, rgb(93,194,255) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(140,190,240) 0%, rgb(140,190,240) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(93,194,255) 53%, rgb(93,194,255) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(238,249,255)); background-blend-mode:overlay,overlay,overlay,normal;    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate 40s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 30%;
    left: 0;
    width: 60%;
    height: 50%;
    background-color: transparent;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 80%;
    border-radius: 20px;
    object-fit:scale-down;
    transition: 2s;
}